<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
        

    </head>
    
    <body>
        <div class="main-content">

            {{>header}}
            <p>A web based weather app with clean and minimal design use as your home page or add to your favorites to get fast climate information straight from your browser!</p>
             <img class="portrait" src="../img/cool_cat.jpg">   

        </div>
            {{>footer}}
    </body>
    
</html>